* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

:root {
    --primary-color: #F0F0F0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #28292E;

    --title-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

body {
    background: var(--primary-bg-color);
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
}